@for (pokemon of pokemonList; track pokemon){
<mat-card>
    <mat-card-header>
        <mat-card-title>
            <a [href]="pokemon.url">
                <h4>{{ pokemon.name }}</h4>
            </a>
        </mat-card-title>
    </mat-card-header>
    <img [src]="pokemon.picUrl">
    <mat-card-content>
        <button mat-raised-button>
            Details
        </button>
        <button mat-raised-button>
            First Ability
        </button>
        <button mat-raised-button>
            Second Ability
        </button>
        <p>{{ pokemon.description }}</p>
    </mat-card-content>
</mat-card>
}